.mapSearch {
    &-search-widget-container {
        width: var(--search-container-width);
        border: 1px solid var(--color-base);
        + .usa-tooltip {
            & button {
                height: calc(var(--btn-height) + 2px);
                width: calc(var(--btn-height) + 2px);
                margin-left: 0.5em;
                top: 0;
                background: var(--color-base-lightest);
            }
            & .usa-tooltip__body{
                width: 220px;
            } 
        }
    }
}
