.simple-select {
    width: 100%;
    color: var(--brand);

    &:has(select[disabled]) {
        opacity: 0.25;
    }

    label {
        font-weight: 700;

        // @media (prefers-color-scheme: dark) {
        //     color: var(--foreground);
        // }
    }

    select,
    option {
        color: var(--brand);
        border-color: var(--brand);

        // @media (prefers-color-scheme: dark) {
        //     background-color: var(--grey-700) !important;
        //     border-color: transparent;
        //     color: var(--foreground);
        // }
    }

    &__field {
        width: 200px;
    }
}

@media screen and (max-width: 1200px) {
    .simple-select {
        select,
        option,
        &__field {
            max-width: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width: 550px) {
    .simple-select {
        label {
            margin-block-start: 0;
        }
    }
}
