.modelSelect-container {
    &-radio-column {
        display: flex;
        flex-direction: column;
    }

    &-radio-row {
        display: flex;
        flex-direction: row;
    }
    h2 {
        margin-bottom: .4em;
    }
    .usa-radio:first-of-type {
        margin-right: 1em;
    }
    .usa-radio__label {
        margin-top: .5em;
    }
}

