.explorePage {
    &-container{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: var(--summary-page-content-height-ratio);
        z-index: 100;
        overflow: hidden;
        background-color: white;
        align-items: flex-start;
    }
    &-right-container{
        background: white;
        height: 100%;
        width: calc(100% - var(--summary-page-hazard-list-width));
        padding: .5em var(--summary-page-content-padding) var(--summary-page-content-padding) var(--summary-page-content-padding);
    }
}