.indicatorValueCard {
    &-container {
        background: none;
        height: 100%;
        flex-wrap: nowrap;
        align-items: flex-start;
        flex-direction: column;
        
        &:not(.indicatorValueCard-container--double) {
            height: 90px;
            padding: 1em 0 1em;
            flex-direction: row;
            align-items: center;
        }
        h2 {
            margin: 0;
        }
        &--double {
            padding: 0.7em 1em 1.3em 0;
            .indicatorValueCard-value-details {
                padding-left: 0;
            }
        }
    }

    &-value-container {
        align-items: baseline;
        flex-wrap: nowrap;
        h3 {
            margin: 0;
            font-weight: normal;
        }
    }

    &-value-block {
        width: 25px;
        height: 25px;
        margin-right: 1em;
        border: 1px solid var(--color-base-ink);
    }

    &-value-postfix {
        color: var(--color-base);
        margin-left: .5em;
        width: 70px;
    }

    &-value-details {
        color: var(--color-base-darker);
        padding-left: 1.5em;
        line-height: 1.3;
    }
}

