:root {
    /* PALETTE @link https://huetone.ardov.me/ */
    /* grey */
    --grey-50: #f6f6f6;
    --grey-100: #e1e1e1;
    --grey-300: #848484;
    --grey-400: #494949;
    --grey-700: #2b2b2b;
    --grey-900: #191919;

    /* red */
    --red-50: #fff4ee;
    --red-100: #fed8cd;
    --red-300: #ea353b;
    --red-400: #851a1d;
    --red-700: #510d0f;
    --red-900: #340700;

    /* green */
    --green-50: #eefbec;
    --green-100: #caedc4;
    --green-300: #3c9c2a;
    --green-400: #115900;
    --green-700: #0f3409;
    --green-900: #091f06;

    /* purple */
    --purple-50: #fbf3ff;
    --purple-100: #efd7fd;
    --purple-300: #9a71b1;
    --purple-400: #691a8a;
    --purple-700: #33233c;
    --purple-900: #1f1424;

    /* blue */
    --blue-50: #f0f8fe;
    --blue-100: #cae6fd;
    --blue-300: #008bd7;
    --blue-400: #004d7a;
    --blue-700: #002d4b;
    --blue-900: #001b2f;

    /* --foreground: (var(--grey-900));
  --background: (var(--grey-50)); */
    --brand: var(--blue-400);
    --secondary: var(--green-400);
    --accent: var(--purple-400);

    /* TYPOGRAPHY: @link https://utopia.fyi/type/calculator?c=320,15,1.2,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--2: clamp(0.6331rem, 0.6573rem + -0.0312vw, 0.651rem);
    --step--1: clamp(0.7813rem, 0.7594rem + 0.1091vw, 0.844rem);
    --step-0: clamp(0.9375rem, 0.8723rem + 0.3261vw, 1.125rem);
    --step-1: clamp(1.025rem, 0.9147rem + 0.415vw, 1.1996rem);
    --step-2: clamp(1.35rem, 1.1243rem + 1.1287vw, 1.999rem);
    --step-3: clamp(1.62rem, 1.2566rem + 1.8168vw, 2.6647rem);
    --step-4: clamp(1.944rem, 1.3847rem + 2.7965vw, 3.552rem);
    --step-5: clamp(2.3328rem, 1.4973rem + 4.1774vw, 4.7348rem);

    --base: var(--step-0);
    --h1: var(--step-1);
    --h2: var(--step-0);
    --h3: var(--step--1);

    /* SPACING: @link https://utopia.fyi/space/calculator?c=320,15,1.2,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,xl-3xl|m-2xl&g=s,l,xl,12 */

    /* Space 3xs: 4px → 5px */
    --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
    /* Space 2xs: 8px → 9px */
    --space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
    /* Space xs: 11px → 14px */
    --space-xs: clamp(0.6875rem, 0.6223rem + 0.3261vw, 0.875rem);
    /* Space s: 15px → 18px */
    --space-s: clamp(0.9375rem, 0.8723rem + 0.3261vw, 1.125rem);
    /* Space m: 23px → 27px */
    --space-m: clamp(1.4375rem, 1.3505rem + 0.4348vw, 1.6875rem);
    /* Space l: 30px → 36px */
    --space-l: clamp(1.875rem, 1.7446rem + 0.6522vw, 2.25rem);
    /* Space xl: 45px → 54px */
    --space-xl: clamp(2.8125rem, 2.6168rem + 0.9783vw, 3.375rem);
    /* Space 2xl: 60px → 72px */
    --space-2xl: clamp(3.75rem, 3.4891rem + 1.3043vw, 4.5rem);
    /* Space 3xl: 90px → 108px */
    --space-3xl: clamp(5.625rem, 5.2337rem + 1.9565vw, 6.75rem);

    /* One-up pairs */
    /* Space 3xs-2xs: 4px → 9px */
    --space-3xs-2xs: clamp(0.25rem, 0.1413rem + 0.5435vw, 0.5625rem);
    /* Space 2xs-xs: 8px → 14px */
    --space-2xs-xs: clamp(0.5rem, 0.3696rem + 0.6522vw, 0.875rem);
    /* Space xs-s: 11px → 18px */
    --space-xs-s: clamp(0.6875rem, 0.5353rem + 0.7609vw, 1.125rem);
    /* Space s-m: 15px → 27px */
    --space-s-m: clamp(0.9375rem, 0.6766rem + 1.3043vw, 1.6875rem);
    /* Space m-l: 23px → 36px */
    --space-m-l: clamp(1.4375rem, 1.1549rem + 1.413vw, 2.25rem);
    /* Space l-xl: 30px → 54px */
    --space-l-xl: clamp(1.875rem, 1.3533rem + 2.6087vw, 3.375rem);
    /* Space xl-2xl: 45px → 72px */
    --space-xl-2xl: clamp(2.8125rem, 2.2255rem + 2.9348vw, 4.5rem);
    /* Space 2xl-3xl: 60px → 108px */
    --space-2xl-3xl: clamp(3.75rem, 2.7065rem + 5.2174vw, 6.75rem);

    /* Custom spacing pairs */
    /* Space xl-3xl: 45px → 108px */
    --space-xl-3xl: clamp(2.8125rem, 1.4429rem + 6.8478vw, 6.75rem);
    /* Space m-2xl: 23px → 72px */
    --space-m-2xl: clamp(1.4375rem, 0.3723rem + 5.3261vw, 4.5rem);

    font-family: 'Public Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --secondary-controls-width: clamp(320px, (40px + 1rem) + 28.2174vw, 520px);
    --popup-width: 320px;

    color-scheme: light;
}
