.mapSearch {
    &--container {
        width: 100%;
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &--search-widget-container {
        width: 100% !important;
    }
    &--disabled-container {
        opacity: 0.25;
    }
    &--disabled-input {
        background-color: var(--grey-300) !important;
        border-color: transparent;
        color: var(--foreground);
    }
    label {
        font-weight: 700;

        @media (prefers-color-scheme: dark) {
            color: var(--foreground);
        }
    }
}

@media screen and (max-width: 550px) {
    .mapSearch {
        label {
            margin-block-start: 0;
        }
    }
}
