.indicatorItem{
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: white;
        padding: 0 1em;
        border: 1px solid var(--color-base-lighter);
        border-bottom: 1px solid white;
        transition: background .15s ease, border .15s ease;
        cursor: pointer;
        z-index: 2;
        &:first-of-type:not(.indicatorItem-container--selected){
            border-top: 1px solid white;
        }
        &--selected{
            background: var(--color-accent-cool-lighter);
            border: 1px solid var(--color-primary-dark);
            .text-base {
                color: var(--color-base-dark)
            }
        }
        &:not(.indicatorItem-container--selected):hover{
            background: var(--color-base-lightest);
            border-bottom: 1px solid var(--color-base-lightest);
        }
        .usa-tooltip {
            margin-right: 7px;
        }
    }

    &-title {
        font-weight: normal;
    }

    &-metric {
        align-items: baseline;
    }

    &-data{
        margin: 0 .25em 0 0;
    }
}