.chart {
    &--container {
        width: 100%;
        height: calc(100% - 72px);
        margin-inline: auto;
    }

    &--title {
        position: absolute;
        inset-inline-start: 50%;
        inset-block-start: 0.5rem;
        translate: -50% 0;
        text-align: center;
        min-width: 70%;
    }

    &--y-title {
        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: 0.35rem;
        translate: -50% -2rem;
        rotate: -90deg;
        text-align: center;
    }
}
#cris-chart {
    width: 100%;
    height: 100%;
}
