.homePage {
    &-container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    &-header-container {
        width: 800px;
        margin-bottom: 1em;
    }

    &-logo {
        margin-right: 20px;
    }

    &-title {
        width: 700px;
    }

    &-location-input-container {
        width: 800px;
        padding-left: 97px;
        margin-bottom: 25px;
    }

    &-search-widget {
        width: 350px;
        height: var(--btn-height);
    }

    &-search-spacer {
        width: 100px;
        text-align: center;
    }

    &-search-button {
        width: 220px;
        height: var(--btn-height);
        padding: 0.5em 1em;
        .usa-icon {
            margin-right: 0.5em;
            bottom: 0.1em;
        }
    }

    &-check-exposure-text {
        width: 800px;
        padding-left: 97px;
        margin-top: 10px;
        text-align: justify;
    }
    &-check-exposure-text-link {
        width: 800px;
        padding-left: 97px;
        margin-top: 10px;
    }
}
