.usa-button--white {
    @include btn-color-and-background(var(--color-primary), var(--color-base-lightest));
    &:hover {
        @include btn-color-and-background(var(--color-primary), var(--color-base-lighter));
    }
    &:active {
        @include btn-color-and-background(var(--color-primary), var(--color-base-light));
    }
}

.usa-button--green {
    @include btn-color-and-background(var(--color-base-lightest), var(--color-success-dark));
    &:hover {
        @include btn-color-and-background(var(--color-base-lightest), var(--color-success-darker));
    }
    &:active {
        @include btn-color-and-background(var(--color-base-lightest), var(--color-success-darker));
    }
}

.usa-button--white-outline {
    border: 1px solid var(--color-base);
    @include btn-color-and-background(var(--color-base-dark), var(--color-base-lightest));
    &:hover {
        @include btn-color-and-background(var(--color-base-dark), var(--color-base-lighter));
        border: 1px solid var(--color-base);
    }
    &:active {
        @include btn-color-and-background(var(--color-base-dark), var(--color-base-light));
    }
}

.usa-button {
    border-radius: 0 !important;
}

.usa-button--icon {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esri-search__container {
    .esri-search__input {
        height: var(--btn-height);
        padding: 0 0.5em 0 1em;
        font-size: 0.93rem;
        font-weight: 600;
        @include title-font-family;
    }
    .esri-widget--button {
        height: calc(var(--btn-height));
        width: calc(var(--btn-height));
    }
}

.font-sans-2md {
    font-size: 1.33rem;
}

.font-serif-2md {
    font-size: 1.1rem;
}

.font-sans-2lg {
    font-size: 1.5rem;
}

.font-serif-1xs {
    font-size: 0.93rem;
}

.font-sans-4xs {
    font-size: 0.8rem;
}

.font-serif-4xs {
    font-size: 0.75rem;
}

.usa-icon--size-3-half {
    height: 1.3rem;
    width: 1.3rem;
}

.usa-tooltip {
    font-size: var(--tooltip-font-size);
    font-family: 'Merriweather Web';
    .usa-button {
        padding: 0;
        background: none;
        position: relative;
        margin: 0;
        top: 0.12rem;
        .usa-icon {
            color: var(--color-primary-dark);
        }
    }
    &__body {
        font-size: 0.85em;
        line-height: 1.5em;
        padding: 0.5em 1em;
        border-radius: 0.25em;
        width: 380px;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }
}

.dropdown--borderless {
    border: none;
    border-bottom: 1px dashed;
}

ul {
    list-style: none;
}

.esri-attribution__sources {
    text-align: right;
    padding-right: 15px;
}

.esri-ui-bottom-right {
    right: calc(1em + 2px);
}

.esri-component.esri-zoom {
    box-shadow: none;
    border: 1px solid var(--color-base);
    border-radius: var(--btn-border-radius);
    .esri-widget--button {
        color: var(--color-base);
        background: var(--color-base-lightest);
        border-radius: var(--btn-border-radius);
        &:hover {
            color: var(--color-base-dark);
            background: var(--color-base-lighter);
        }
    }
}

[class*='font-serif-'],
[class*='font-heading-'] {
    font-family: 'Public Sans', Helvetica, Arial, sans-serif;
}


.usa-modal-wrapper {
    .usa-modal {
        border-radius: 0;
    }
    .usa-modal__content {
        padding-top: 1rem;
    }
    .usa-modal__close {
        position: absolute;
        top: 2.8rem;
        right: 1rem;
    }
}