.mapControls {
    &--container {
        inset-inline-start: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0;
        padding: var(--space-m) var(--space-m) 0;
        overflow-x: hidden;
        overflow-y: auto;
        flex-shrink: 0;
        width: var(--secondary-controls-width);
        z-index: 2;
        background-color: var(--grey-50);
        transition: translate 0.1s ease-out;

        .simple-select {
            display: flex;
            align-items: end;
            min-height: 60px;

            label {
                width: 50%;
                padding-right: 5px;
            }
        }

        // @media (prefers-color-scheme: dark) {
        //     background-color: var(--grey-900);
        // }
    }
    &--container--hide {
        // move container left: factor in width of container + body padding + border of 10px
        translate: calc((var(--secondary-controls-width) * -1) - (2rem + 10px)) 0;
    }
    &--container-title {
        // margin-block: 0;

        & h1 {
            margin-block-start: 0;
        }
    }
    &--container-subtitle-wrap {
        margin-block-start: -6px;
    }
    &--container-subtitle {
        font-weight: 100;
        opacity: 0.75;
        padding-block-end: 2px;
        display: block;
        font-size: 13px;
    }
    &--container-selectors {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-block-end: var(--space-xl);
    }
    &--container-revert {
        transition: opacity 0.5s, display 0.5s allow-discrete !important;

        &[disabled] {
            display: none;
        }

        @starting-style {
            display: none;
            opacity: 0;
        }
    }
    &--container-actions {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-block-start: auto;
        position: sticky;
        bottom: 0;
        padding-block: var(--space-m) var(--space-m);
        background: var(--background);

        &::after {
            content: '';
            position: absolute;
            width: calc(100% + (var(--space-l) * 2));
            height: 100%;
            inset-block-start: 0;
            inset-inline-start: calc(var(--space-l) * -1);
            box-shadow: 2px -4px 24px rgba(0, 0, 0, 0.025);
            z-index: -1;
        }
    }
    &--container-actions button:last-of-type {
        margin-inline-start: auto !important;
    }

    &--container-actions-graph {
        margin-inline-start: auto !important;

        &.allowed {
            cursor: pointer;
        }

        &.not-allowed {
            cursor: not-allowed;
        }
    }
}

@media screen and (min-height: 1150px) {
    .mapControls {
        &--container {
            .simple-select {
                flex-direction: column;
                align-items: start;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .mapControls {
        &--container {
            // height: calc(100% - 48px);
        }
    }
}

@media screen and (max-width: 550px) {
    .mapControls {
        &--container-title {
            margin-block-end: 1rem;
        }

        &--container-actions {
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}
