.indicatorDetails{
    &-container {
        height: 100%;
        width: calc((100% - var(--summary-page-hazard-list-width) - 2 * var(--summary-page-content-padding)) * (1 - var( --summary-page-indicator-list-width-ratio)));
        padding: 0 1em 1em 1em;
        background: var(--color-base-lightest-2);
        position: relative;
        border: 1px solid var(--color-base-lighter);
        &::before {
            content:'';
            position: absolute;
            left: -15px;
            top: 20px;
            width: 0; 
            height: 0; 
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 15px solid var(--color-base-lightest-2);
            z-index: 10;
        }
        &::after {
            content:'';
            position: absolute;
            left: -16px;
            top: 18px;
            width: 0; 
            height: 0; 
            border-top: 17px solid transparent;
            border-bottom: 17px solid transparent;
            border-right: 16px solid var(--color-base-lighter);
            z-index: 9;
        }
    }

    &-indicator-title {
        margin: 0;
        max-height: 70px;
        padding: 15px;
    }

    &-header {
        width: 100%;
        height: var(--indicator-details-title-height);
        margin-top: var(--indicator-details-title-margin);
        margin-bottom: var(--indicator-details-title-margin);
    }

    &-title{
        margin: 0;
        line-height: var(--indicator-details-title-height);
    }

    &-button-container {
        display: flex;
        align-items: center;
        border-bottom: 3px;
        border-bottom-color: var(--color-base-lightest-2);
        border-bottom-style: solid;
        cursor: pointer;
        height: 42px;
        padding: 0 .5em 0 .5em;
        color: var(--color-base);
        .usa-icon{
            margin-right: .5em;
        }
        &:hover{
            background: var(--color-base-lightest);
        }
        transition: background .15s ease;
    }
    &-button-container:first-of-type {
        margin-right: 1em;
    }

    &-button-container-selected {
        border-bottom: 3px;
        border-bottom-color: var(--color-primary-dark);
        color: var(--color-primary-dark);
        border-bottom-style: solid;
    }

    &-content{
        height: calc(100% - var(--indicator-details-title-height) - 2 * var(--indicator-details-title-margin));
        border: 1px solid var(--color-base-lighter);
        overflow-y: auto;
        background: white;
    }

    &-item-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        &:first-of-type .indicatorDetails-item-title{
            background: var(--color-warm-light);
        }
        &:last-of-type .indicatorDetails-item-title{
            background: var(--color-secondary-light);
        }
    }

    &-item-title {
        width: 100%;
        font-weight: normal;
        margin: 0;
        padding: calc(var(--summary-page-content-padding) * 0.5 + .3em);
    }

    &-item-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        &:not(.indicatorDetails-item-row-header):not(:last-of-type)::after{
            content:'';
            height: 20px;
            width: 2px;
            position: absolute;
            left: 20px;
            background: var(--color-base-lighter);
            top: 49px;
        }
    }

    &-item-row-container{
        padding: 0.5em calc(var(--summary-page-content-padding) * 0.5);
        .indicatorDetails-item-row {
            height: 60px;
        }
        .indicatorDetails-item-row-header {
            height: 35px;
            margin-bottom: -6px;
        }
        .indicatorDetails-item-row-item { 
            justify-content: center;
        }
    }

    &-item-row-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        &-header {
            align-items: flex-start;
            div {
                padding-left: 5px;
            }
        }
    }

    &-skeleton-container { 
        padding: 0 .5em;
        height: 100%;
    }

    &-item-container-skeleton-item {
        height: calc((100% - 8 * var(--summary-page-skeleton-margin))/4);
        width: 100%;
        margin: var(--summary-page-skeleton-margin) 0;
    }

}