.searchPage {
    &-container {
        width: 100%;
        top: var(--header-nav-height);
        height: calc(100% - var(--header-nav-height));
    }

    &-input-container {
        z-index: 100;
        left: 2em;
        margin-top: 1em;
        position: absolute;
        pointer-events: none;
        .mapSearch-search-widget-container,
        .usa-button{
            pointer-events: auto;
        }
    }

    &-spacer {
        width: 100px;
    }

    &-checkClimateButton {
        &:disabled {
            color: var(--color-base);
        }
        span {
            margin-right: 5px;
            border-color: var(--color-base);
            border-bottom-color: transparent;
        }
    }
}
