.navigationTabs {
    &-container {
        z-index: 100;
        position: absolute;
        display: flex;
        flex-direction: row;
    }

    &-tab {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        width: auto;
        height: 40px;
        padding: 0 2em;
        border: 1px solid var(--color-base-lighter);
        border-bottom: 0;
        background: var(--color-base-lightest);
        color: var(--color-base);
        cursor: pointer;
        transition: background 0.15s ease;
        &:hover {
            background: var(--color-base-lighter);
        }
        .usa-tooltip .usa-tooltip__trigger {
            display: flex;
            align-items: center;
        }
    }

    &-title {
        margin-left: 1em;
    }

    &-tab-selected {
        background-color: white;
        color: var(--color-primary-dark);
        .navigationTabs-title {
            color: var(--color-primary-dark);
        }
        svg path {
            fill: var(--color-primary-dark);
        }
    }

    &-exploreDetails {
        bottom: var(--summary-page-content-height-ratio);
    }

    &-exploreMap {
        bottom: var(--explore-page-content-height);
    }
}
