.header {
    &-container {
        height: var(--header-nav-height);
        background: var(--color-primary-dark);
        padding: 0 2em;
        position: relative;
    }
    &-container-version {
        padding-left: 15px;
        align-items: center;
    }
    &-logo {
        width: 36px;
        margin-right: 1em;
        margin-bottom: 5px;
    }

    &-button-container {
        position: absolute;
        width: auto;
        height: 70px;
        right: 2em;
        display: flex;
        align-items: center;
    }
    &-link {
        font-weight: 600;
        margin-left: 30px;
    }
    &-report-button {
        margin: 0 0 0 30px;
    }
    &-report-button-tooltip {
        width: 100px;
        height: 70px;
        position: absolute;
        button {
            width: 200px;
            height: 40px;
            margin-left: 30px !important;
        }
    }
}
