.MapFlag-container {
    display: flex;
    align-items: center;
    border-radius: 0px;
    height: 20px;
    min-width: 240px;
    line-height: 20px;
    padding: 16px 10px;
    color: var(--color-primary-dark);
    background: hsl(var(--flag-color-h), var(--flag-color-s), var(--flag-color-l));
    border-left: 8px solid hsl(var(--flag-color-h), calc(var(--flag-color-s) - 5%), calc(var(--flag-color-l) - 25%));
    outline: 1px solid hsl(var(--flag-color-h), calc(var(--flag-color-s) - 40%), calc(var(--flag-color-l) - 25%));
    width: auto;
    button {
        width: 100%;
    }
}

.MapFlag-text {
    padding-left: 10px;
}
