.indicatorList {
    &-container {
        height: 100%;
        width: calc(
            (100% - var(--summary-page-hazard-list-width) - 2 * var(--summary-page-content-padding)) *
                var(--summary-page-indicator-list-width-ratio)
        );
        margin-right: var(--summary-page-content-padding);
    }

    &-title {
        margin: auto;
        align-items: center;
    }

    &-combo-label {
        margin-top: 2px;
        margin-right: 5px;
    }

    &-header-container {
        width: 100%;
        position: sticky;
        top: 0;
        background-color: white;
        height: calc(var(--indicator-header-height) + calc(var(--indicator-header-margin) * 2));
        min-height: calc(var(--indicator-header-height) + calc(var(--indicator-header-margin) * 2));
        justify-content: space-between;
        padding: var(--indicator-header-margin) 1em;
        z-index: 3;
        &::after {
            content: '';
            background: var(--color-base-lighter);
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
        .indicatorList-table-main-column {
            flex-basis: calc(100% - var(--indicator-stats-width) * 2);
            margin-left: calc( 0rem - var(--indicator-header-margin));
            margin-right: 0;
        }
    }

    &-table-main-column {
        flex-basis: calc(100% - var(--indicator-stats-width) * 2);
    }

    &-table-data-column {
        flex-basis: var(--indicator-stats-width);
        text-align: center;
        justify-content: center;
    }

    &-dropdown {
        width: var(--indicator-timeframe-width);
        margin-top: 0;
        margin-left: 0.5em;
        padding: 0.25em;
    }

    &-item-container {
        overflow-y: auto;
        height: auto;
        max-height: calc(100% - 1px);
        width: 100%;
        border-bottom: 1px solid var(--color-base-lighter);
    }
    &-skeleton-container {
        padding: 0 0.5em;
        height: calc(
            100% - var(--indicator-title-height) - var(--indicator-title-margin) - var(--indicator-header-height) -
                var(--indicator-header-margin) - 1px
        );
        width: 100%;
        border: 1px solid var(--color-base-lighter);
    }

    &-item-container-skeleton-item {
        height: calc((100% - 8 * var(--summary-page-skeleton-margin)) / 4);
        width: 100%;
        margin: var(--summary-page-skeleton-margin) 0;
    }

    &-header {
        width: 50px;
        line-height: 16px;
        margin-top: -4px;
        flex-basis: var(--indicator-stats-width);
        padding: 0 var(--summary-page-indicator-header-padding);
        &--green {
            color: var(--color-success-dark);
        }
        &--orange {
            color: var(--color-orange);
            .usa-tooltip .usa-button span {
                color: var(--color-orange);
                font-weight: 500;
            }
        }
        &--red {
            color: var(--color-red);
            .usa-tooltip .usa-button span {
                color: var(--color-red);
                font-weight: 500;
            }
        }
        .usa-tooltip__body {
            width: 200px;
            text-align: left;
            margin-left: -130px!important;
        }
    }
}
